#tsparticles {
    height: 100vh;
}
.signIn {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    border: 2px solid #FECC17;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    color: #2FB53D;
}
.signInLogo {
    color: #1D9129;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.signInLogo i {
    font-size: 40px;
}
.signInLogo h1 {
    margin: 0;
}
.signInText {
    margin-top: 40px;
}
.signInFormContainer {
    margin-top: 40px;
    width: 280px;
}
.signInForm {
    text-align: right;
}
.signInForm input {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #F0F6F1;
    padding: 10px;
}
.signInForm input:active {
    background-color: #F0F6F1;
}
.password {
    margin-top: 10px;
}
.signInBtnContainer {
    margin: 40px auto;
    width: 130px;
}
.signInBtn {
    border: none;
    border-radius: 20px;
    background: #2FB53D none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    width: 160px;
    height: 40px;
}
.signInBtn:hover {
    background: #1D9129 none;
}
.errorDiv {
    margin-top: 20px;
    white-space: nowrap;
}